[submodule "StructuredAppearanceModelRegistration"]
	path = StructuredAppearanceModelRegistration
	url = https://github.com/YannLePoul/StructuredAppearanceModelRegistration.git
[submodule "src/lib/StructuredAppearanceModelRegistration"]
	path = src/lib/StructuredAppearanceModelRegistration
	url = https://github.com/YannLePoul/StructuredAppearanceModelRegistration.git
